/* Add a background color to the header element */
header{
    background-color:rgb(47, 99, 255);
    color: white;
}
/* Add a fun background color to the main element */
main {
    background-color: whitesmoke;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    color:rgb(184, 52, 52);
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}
/* Put a border around your image */
img {
    border: 30%;
    width: 90pt;
    height: 85pt;
    border-color: black;
}
/* Change the font-family of your list */
ul {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(25, 23, 23);
    
}
/* Add a background color to the footer element */
footer {
    background-color: rgb(18, 95, 176);

}